
@model String

<html>
<head>
    <title>Error</title>
</head>
<body>
    <h1>Ne cerem scuze, a aparut o problema la incarcarea blog-ului, va rugam reincercati.</h1>
    <h2>@Model.ToLower()</h2>
</body>
</html>
